.hero {
  background: linear-gradient(
      rgba(213, 204, 204, 0.3),
      rgba(172, 155, 155, 0.3)
    ),
    url("../../Assets/hooks.jpeg");
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  color: #ffffff;

  position: relative;
}

.hero-card {

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
