.product-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
}

.good{
    display: flex;
    border: solid black;
    padding: .5em;
    margin: .5em;
    align-items: center;
}

.better{
    display: flex;
    border: solid black;
    padding: .5em;
    margin: .5em;
    align-items: center;
}

.best{
    display: flex;
    border: solid black;
    padding: .5em;
    margin: .1em;
    align-items: center;
    
}

.title-best{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #7979b9;
}

image{
    display: none;
    width: 50px;
}
.card-img-top{
    display: cover;
    height: 300px;
    width: 300px;
    


}

.slab-slayer{
    background-image: linear-gradient(orange, yellow);
    border-radius: .5em;
}

.card-text {
    display: flex;
    flex-direction: column;
}

