.product-container {
  display: flex;
  /* height: 100vh; */
  flex-direction: row;
  justify-content:center;
  align-items: center;
  /* clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%); */
  /* background: linear-gradient( rgba(213, 204, 204, 0.3), rgba(172, 155, 155, 0.3)),url("../../Assets/hooks.jpeg"); */
  z-index: -1;
}

.detail-container{
  display: flex;
  justify-content: space-around;
  
}

.product-hero{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.fish{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 700;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem;
  background-image: linear-gradient(
    rgb(109, 213, 250, 0.8),
    rgb(41, 128, 185, 0.2)
  );
}

.perch{
  display: flex;
  font-size: xx-large;
}


/* .good {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgb(109, 213, 250, 0.8),
    rgb(41, 128, 185, 0.2)
  );
  padding: 0.5em;
  height: 700px;
  margin: 0.5em;
  align-items: center;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* .better {
  display: flex;
  flex-direction: column;
  height: 700px;
  background-image: linear-gradient(
    rgb(109, 213, 250, 0.8),
    rgb(41, 128, 185, 0.2)
  );
  padding: 0.5em;
  margin: 0.5em;
  align-items: center;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.best {
  height:1200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5em;
  margin: 4rem;
  align-items: center;
  background-image: linear-gradient(
    rgb(109, 213, 250, 0.8),
    rgb(41, 128, 185, 0.2)
  );
  border-radius: 0.5em;
} */

.title-best {
  text-shadow: 0 0 3px #2980b9, 0 0 5px #6dd5fa;
  font-size: xx-large;
}

image {
  display: none;
  width: 50px;
}
.card-img-top {
  display: cover;
  height: 300px;
  width: 300px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .slab-slayer {

  background-image: linear-gradient(
    rgb(109, 213, 250, 0.8),
    rgb(41, 128, 185, 0.2)
  );
  border-radius: 0.5em;
} */

.card-text {
  display: flex;
  flex-direction: column;
}

.price{
  display: flex;
  font-size: xx-large;
  justify-content: space-evenly;
  text-shadow: 0 0 3px #2980b9, 0 0 5px #6dd5fa;
  
}