.modal-container {
  display: flex;
  flex-direction: column;
  border-radius: 2%;
}

.survey-modal {
  display: flex;
  justify-content: right;
  margin: 2rem;
  position: static;
}



.survey-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 5rem;
  background: rgba(0,0,0,.75);
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999;

}

.survey-input {
  font-size: large;
  margin: 1rem;
  color: whitesmoke;
  display: flex;
  border-radius: .3rem;
  align-items: center;
  height: 40px;
  width: 300px;
  padding: 1rem;
  background-color: rgb(109, 213, 250,.2);
}

.modal-body {
  display: flex;

  background-color:whitesmoke;
}

.survey-form > button{
    color: black;
    background-color: lightblue;
    border: none;
    border-radius: 1em;
    margin-top: 1rem;
}

/* .swal-modal {
  background-color: rgb(109, 213, 250,.69);
  border: 3px solid white;
} */

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}