.container {
  display: flex;
  flex-direction: column;
  border-radius: 2%;
}

.survey-modal {
  display: flex;
  justify-content: right;
  margin: 2rem;
  position: static;
}



.survey-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0.5rem;
  position: relative;
  z-index: 10;
}

.survey-input {
  display: flex;
  align-items: center;
  height: 30px;
  width: 300px;
  background-color: antiquewhite;
}

.modal-body {
  display: flex;

  background-color:whitesmoke;
}

.survey-form > button{
    color: black;
    background-color: lightblue;
    border: none;
    border-radius: 1em;
    margin-top: 1rem;
}
